@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
 justify-content: center;
 
  

  
}

body {

   
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}


header {
    min-width: 100px;
    margin: 20px;
    
}

header > h1 {
  color: #f9faff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 90px;
  text-decoration: underline;
  font-weight: 1000;

}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 100px;
  text-align: center;
  width: 300px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  position: relative;
}

.badge {
    color: white;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: underline;


}

#user-label {
  position: absolute;
  top: 30px;
  left: -65px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -79px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;
}

.choices {
  margin-top :50px;
  text-align: center;
}

.choice {
  border: 6px solid white;
  border-radius: 100%;
  margin: 0 20px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #e4f3fa;
}

#action-message {
  text-align: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}